body{background-color: lightskyblue;
}
h1{font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h2{font-family:'Times New Roman', Times, serif;
text-transform: capitalize;
}
ul{list-style:square}
ul li{color:blue}
li{text-decoration: wavy;}
a:hover{color: silver;}